<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-7 offset-1">
      <h1>会員情報編集</h1>
    </div>
  </div>


      <%= form_with model: @customer, url: customers_mypage_path do |f| %>
        <div class="row">
          <div class="col-md-2 py-1 offset-1">
            氏名
          </div>
          <div class="col-md-3 py-1">
            <%= f.text_field :first_name %>
          </div>
          <div class="col-md-6 py-1">
            <%= f.text_field :last_name %>
          </div>
          <div class="col-md-2 py-1 offset-1">
            フリガナ
          </div>
          <div class="col-md-3 py-1">
             <%= f.text_field :first_name_kana %>
          </div>
          <div class="col-md-6 py-1">
           <%= f.text_field :last_name_kana %>
          </div>
          <div class="col-md-2 py-1 offset-1">
            郵便番号
          </div>
          <div class="col-md-9 py-1">
            <%= f.text_field :postal_code %>
          </div>
          <div class="col-md-2 py-1 offset-1">
            住所
          </div>
          <div class="col-md-9 py-1">
            <%= f.text_field :address, class:"w-50" %>
          </div>
          <div class="col-md-2 py-1 offset-1">
            電話番号
          </div>
          <div class="col-md-9 py-1">
            <%= f.text_field :telephone_number %>
          </div>
          <div class="col-md-2 py-1 offset-1">
            メールアドレス
          </div>
          <div class="col-md-9 py-1">
            <%= f.text_field :email %>
          </div>

          <div class="col-md-3 py-1 offset-3">
            <%= f.submit '編集内容を保存', class: "btn btn-success" %>
          </div>
          <div class="col-md-3 py-1">
            <%= link_to '退会', customers_unsubscribe_path, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>

</div>