<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>商品一覧</h2>
      </div>

      <div class="col-md-2 offset-md-1">
        <%= link_to new_admin_item_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>


        <table class="table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
              <th colspan="5"></th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre_id %></td>
              <td>
                <% if item.is_active == true %>
                  <font color="green">販売中</font>
                <% elsif item.is_active == false %>
                  販売停止中
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>