<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= @customer.first_name %><%= @customer.last_name %><p>さんの会員詳細</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 py-3 offset-1">
        会員ID
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.id %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        氏名
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.first_name %><%= @customer.last_name %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        カナ
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.first_name_kana %><%= @customer.last_name_kana %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        郵便番号
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.postal_code %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        住所
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.address %>
       </div>
      <div class="col-md-2 py-3 offset-1">
        電話番号
      </div>
      <div class="col-md-9 py-3">
        <%= @customer.telephone_number %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        メールアドレス
       </div>
      <div class="col-md-9 py-3">
        <%= @customer.email %>
      </div>
      <div class="col-md-2 py-3 offset-1">
        会員ステータス
      </div>
      <div class="col-md-9 py-3">
        <% if @customer.is_deleted == true %>
          無効
        <% elsif @customer.is_deleted == false %>
          <font color="green">有効</font>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 offset-1">
        <%= link_to '編集する', edit_admin_customer_path, class: "btn btn-success" %>
      </div>
      <div class="col-md-8">
        <%= link_to '注文履歴一覧を見る', admin_path, class: "btn btn-primary" %>
      </div>
    </div>
    <p></p>


  </div>
