<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>配送先登録／一覧</h3>
      </div>
    </div>

    <%= form_with model: @address, url: addresses_path do |f| %>
      <div class="row">
        <div class="col-md-3 py-1">
          郵便番号（ハイフンなし）
        </div>
        <div class="col-md-4 py-1">
          <%= f.text_field :postal_code, class: 'form-control' %>
        </div>
        <div class="col-md-5 py-1">
        </div>
        <div class="col-md-3 py-1">
          住所
        </div>
        <div class="col-md-4 py-1">
          <%= f.text_field :address, class: 'form-control w-100' %>
        </div>
        <div class="col-md-5 py-1">
        </div>
        <div class="col-md-3 py-1">
          宛名
        </div>
        <div class="col-md-4 py-1">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
            <div>
              <%= f.submit '新規登録', class: "btn btn-success" %>
            </div>
      </div>
    <% end %>

      <div class ="row">
      <table class = "table table-bordered col-md-10" >

        <thead>
            <tr>
                <th class="table-active">郵便番号</th>
                <th class="table-active">住所</th>
                <th class="table-active">宛名</th>
                <th class="table-active"></th>
            </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                  <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
                  <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger" %>
                </td>

            </tr>
          <% end %>
        </tbody>

      </table>
      </div>



  </div>
