<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-5 ml-3">
    <h2 class=""my-3 ml-3"">ショッピングカート</h2>
    <table class = "table table-bordered" >

        <thead>
            <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th colspan="5"></th>
            </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= image_tag cart_item.item.get_image,size: "70x50" %><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price%></td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.subtotal%></td>
                <td><% @total_amount +=  cart_item.subtotal %></td>

            </tr>
          <% end %>
        </tbody>

      </table>
      </div>
    </div>
  </div>
    <table class = "table table-bordered" >
      <th>合計金額</th>
      <td><%= @total_amount %></td>
    </table>

