<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-7 offset-1">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

    <h2>新規会員登録</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2 py-1 offset-1">
      <%= f.label :名前 %>
    </div>
    <div class="col-md-1 py-1">
      （姓）
    </div>
    <div class="col-md-3 py-1">
      <%= f.text_field :first_name, class:"w-75" %>
    </div>
     <div class="col-md-1 py-1">
      （名）
    </div>
    <div class="col-md-3 py-1">
      <%= f.text_field :last_name, class:"w-75" %>
    </div>


    <div class="col-md-2 py-1 offset-1">
      <%= f.label :フリガナ %>
    </div>
    <div class="col-md-1 py-1">
      （セイ）
    </div>
    <div class="col-md-3 py-1">
      <%= f.text_field :first_name_kana, class:"w-75" %>
    </div>
    <div class="col-md-1 py-1">
    （メイ）
    </div>
    <div class="col-md-3 py-1">
      <%= f.text_field :last_name_kana, class:"w-75" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-40" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :郵便番号（ハイフンなし） %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <%= f.text_field :postal_code, class:"w-75" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :住所 %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <%= f.text_field :address, class:"w-75" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :電話番号 %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <%= f.text_field :telephone_number, class:"w-75" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :パスワード（６文字以上） %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class:"w-75" %>
    </div>

    <div class="col-md-2 py-1 offset-1">
      <%= f.label :パスワード（確認用） %>
    </div>
    <div class="col-md-8 py-1 offset-1">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-75" %>
    </div>

    <div class="col text-center">
      <%= f.submit '新規登録', class: "btn btn-success w-40" %>
    </div>
<% end %>
</div>

<div class="row">
  <div class="col-md-7 offset-1">
    <h2>既に登録済みの方</h2>
      <%= render "public/shared/links" %>からログインしてください
    </div>
  </div>
</div>


