<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-2">
         <h2>商品一覧（全<%= @count %>件）</h2>
      </div>
    </div>
        <div class="row">
            <div class="col-md-10 py-3 offset-2">
           <div class="list-wrap">
           <% @items.each do |item| %>

           <%= link_to item_path(item.id) do %>
             <div class="list-box">

             <% if item.image.attached? %>
               <%= image_tag item.image, size: "200x150" %>
             <% else %>
               <%= image_tag 'no_image', size: "200x150" %>
             <% end %><br>
           <% end %>

             <span class="list-body"><%= item.name %></span><br>
             <span class="list-title">￥<%= item.price %></span>

           </div>
           <% end %>
           </div>
           </div>
           </div>
        <div class="col-md-2 py-3 offset-10"><%= paginate @items %></div>
      <!--</div>-->
    </div>
